input.ng-invalid.ng-touched {
  border: 1px solid #B22222;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12
}

.ng-invalid .btn {
  background-color: gray;
}

.error {
  color: red;
  padding: 10px;
}
